@import "tailwindcss/base";
/* @import '../style.css'; */

@import "tailwindcss/components";
@import "tailwindcss/utilities";


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --background-color-primary: #ffffff; /* Light gray background */
  --background-color-secondary: #ffffff; /* White background */
  --accent-color: #3b82f6; /* Blue accent */
  --text-primary-color: #111827; /* Dark gray text */
  --element-size: 4rem; /* Same size for consistency */
  --background-color-reverse: #18181b; /* Dark gray reverse background */
  --text-reverse-color: #d1d5db; /* Light gray reverse text */
  --background-color-reverse-secondary: #374151; /* Darker gray secondary reverse background */
  --text-light-gray: #8f8f9d;
  --text-dark-gray: #333333;
}

:root.dark {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --background-color-primary: #18181b; /* Dark gray background */
  --background-color-secondary: #27272A; /* Darker gray background */
  --accent-color: #3b82f6; /* Blue accent */
  --text-primary-color: #d1d5db; /* Light gray text */
  --background-color-reverse: #ffffff; /* Light gray reverse background */
  --text-reverse-color: #111827; /* Dark gray reverse text */
  --background-color-reverse-secondary: #ffffff; /* White reverse secondary background */
  --text-light-gray: #8f8f9d;
  --text-dark-gray: #CCCCCC;
}


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background-color-primary);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2dd4bf;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--background-color-primary);
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

.container-center {
  background-color: var(--background-color-primary);
  min-height: 100vh;
  width: 100vw;
  /* padding: 0 1em; */
  margin: 0 auto;
  text-align: center;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.primary-btn {
  @apply
  bg-white dark:bg-zinc-800/90 shadow-md text-base leading-5 py-3.5 px-7 rounded-lg;
  color: #2dd4bf;
}

h1 {
  @apply 
    antialiased text-2xl text-center my-7;
    color: var(--text-primary-color);
    position: relative;
    width: 230px;
}

p {
  color: var(--text-primary-color);
}

