@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss/base";
/* @import '../style.css'; */

@import "tailwindcss/components";
@import "tailwindcss/utilities";


:root {
  /* --background-color-primary: #ffffff; 
  --background-color-secondary: #ffffff;
  --accent-color: #3b82f6; 
  --text-primary-color: #111827; 
  --element-size: 4rem; 
  --background-color-reverse: #18181b;
  --text-reverse-color: #d1d5db;
  --background-color-reverse-secondary: #374151; 
  --text-light-gray: #8f8f9d;
  --text-dark-gray: #333333; */
  --background-color-primary: #e1e7d9;
  --background-color-reverse: #363535;
  --text-primary-color: #363535;
  --font-family--display: "Yatra One", sans-serif;
  --font-family--body: "Roboto Flex", sans-serif;
  --font-family--heading: "Work Sans", sans-serif;
  --color--gray-1: #686868;
}

:root.dark {
  /* --background-color-primary: #18181b; 
  --background-color-secondary: #27272A; 
  --accent-color: #3b82f6; 
  --text-primary-color: #d1d5db;
  --background-color-reverse: #ffffff; 
  --text-reverse-color: #111827; 
  --background-color-reverse-secondary: #ffffff;
  --text-light-gray: #8f8f9d;
  --text-dark-gray: #CCCCCC; */
  --background-color-primary: #363535;
  --background-color-reverse: #e1e7d9;
  --text-primary-color: #e1e7d9;
  --font-family--display: "Yatra One", sans-serif;
  --font-family--body: "Roboto Flex", sans-serif;
  --font-family--heading: "Work Sans", sans-serif;
  --color--gray-1: #686868;
}


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background-color-primary);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--text-primary-color);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--background-color-primary);
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

.container-center {
  background-color: var(--background-color-primary);
  min-height: 100vh;
  width: 100vw;
  /* padding: 0 1em; */
  margin: 0 auto;
  text-align: center;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.primary-btn {
  @apply
  bg-white dark:bg-zinc-800/90 shadow-md text-base leading-5 py-3.5 px-7 rounded-lg;
  color: #2dd4bf;
}

h1 {
  @apply 
    antialiased text-2xl text-center my-7;
    color: var(--text-primary-color);
    position: relative;
    width: 230px;
}

p {
  color: var(--text-primary-color);
}

