.about-descr {
  padding-top: 2rem;
  flex: 0 0 auto;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .about-descr {
    padding-top: 2rem;
    flex: 0 0 auto;
    width: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  .about-descr {
    padding-top: 0.9rem;
    flex: 0 0 auto;
    width: 66.66666667%;
  }
}

.about-descr__text {
  margin-bottom: 1.5rem;
}
.about-descr__text:last-of-type {
  margin-bottom: 0;
}
@media only screen and (min-width: 1400px) {
  .about-descr__text {
    margin-bottom: 2.1rem;
  }
}

.container-info {
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .container-info {
    flex-direction: column;
  }
}
@media only screen and (min-width: 1200px) {
  .container-info {
    flex-direction: row;
  }
}


.about-descr__btnholder {
  margin-top: 2.5rem;
}
@media only screen and (min-width: 1400px) {
  .about-descr__btnholder {
    margin-top: 3.1rem;
  }
}
@media only screen and (min-width: 1600px) {
  .about-descr__btnholder {
    margin-top: 3.2rem;
  }
}

.about-info {
  padding-top: 1.7rem;
  flex: 0 0 auto;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .about-info {
    padding-top: 2.7rem;
    flex: 0 0 auto;
    width: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  .about-info {
    padding-top: 1.6rem;
    flex: 0 0 auto;
    width: 33.33333333%;
  }
}

.about-info__item {
  margin-bottom: 2.6rem;
}
.about-info__item:last-of-type {
  margin-bottom: 0;
}
@media only screen and (min-width: 1400px) {
  .about-info__item {
    margin-bottom: 3rem;
  }
}
@media only screen and (min-width: 1600px) {
  .about-info__item {
    margin-bottom: 3.2rem;
  }
}

.inner {
  padding: 2rem 0;
}
.inner.inner-grid-top {
  padding: 3rem 0 6rem 0;
}
@media only screen and (min-width: 768px) {
  .inner {
    padding: 1.5rem 0;
  }
  .inner.inner-grid-top {
    padding: 4.5rem 0 7.5rem 0;
  }
}
@media only screen and (min-width: 992px) {
  .inner {
    padding: 1.5rem 0 4rem 0;
  }
  .inner.inner-first {
    padding: 11rem 0 4rem 0;
  }
  .inner.inner-grid-top {
    padding: 8rem 0 4rem 0;
  }
}
@media only screen and (min-width: 1400px) {
  .inner {
    padding: 2rem 0 2rem 0;
  }
  .inner.inner-grid-top {
    padding: 10rem 0 2rem 0;
  }
  .inner.inner-first {
    padding: 15rem 0 2rem 0;
  }
}
@media only screen and (min-width: 1600px) {
  .inner {
    padding: 3rem 0 2rem 0;
  }
  .inner.inner-grid-top {
    padding: 11rem 0 2rem 0;
  }
  .inner.inner-first {
    padding: 16rem 0 2rem 0;
  }
}

.content__block {
  position: relative;
  padding: 0 1.5rem;
}
.content__block.grid-block {
  padding: 0;
}
@media only screen and (min-width: 768px) {
  .content__block {
    padding: 0 6rem;
  }
  .content__block.grid-block {
    padding: 0 1.5rem;
  }
}
@media only screen and (min-width: 992px) {
  .content__block {
    padding: 0 3rem;
  }
  .content__block.grid-block {
    padding: 0 1.5rem;
  }
}
@media only screen and (min-width: 1200px) {
  .content__block {
    padding: 0 6rem 0 3rem;
  }
  .content__block.grid-block {
    padding: 0 4.5rem 0 1.5rem;
  }
}
@media only screen and (min-width: 1400px) {
  .content__block {
    padding: 0 8rem 0 5rem;
  }
  .content__block.grid-block {
    padding: 0 5.5rem 0 2.5rem;
  }
}
@media only screen and (min-width: 1600px) {
  .content__block {
    padding: 0 10rem 0 5rem;
  }
  .content__block.grid-block {
    padding: 0 7.5rem 0 2.5rem;
  }
}

.content__block.section-title {
  margin-bottom: 4rem;
}
.content__block.section-grid-title {
  margin-bottom: 1.4rem;
}
.content__block.block-large {
  margin-bottom: 1rem;
}
.content__block.block-grid-large {
  margin-bottom: 10rem;
}
@media only screen and (min-width: 768px) {
  .content__block.section-title {
    margin-bottom: 5rem;
  }
  .content__block.section-grid-title {
    margin-bottom: 1.9rem;
  }
  .content__block.block-large {
    margin-bottom: 1.5rem;
  }
  .content__block.block-grid-large {
    margin-bottom: 13rem;
  }
}
@media only screen and (min-width: 1200px) {
  .content__block.section-title {
    margin-bottom: 4.7rem;
  }
  .content__block.section-grid-title {
    margin-bottom: 1.6rem;
  }
}
@media only screen and (min-width: 1400px) {
  .content__block.section-grid-title {
    margin-bottom: 0.4rem;
  }
  .content__block.block-large {
    margin-bottom: 2.6rem;
  }
  .content__block.block-grid-large {
    margin-bottom: 15rem;
  }
}
@media only screen and (min-width: 1600px) {
  .content__block.section-title {
    margin-bottom: 5.3rem;
  }
  .content__block.block-large {
    margin-bottom: 3.6rem;
  }
}

.numblock {
  padding: 1rem 1.25rem;
  margin-right: 1rem;
  border: 1px solid var(--stroke-elements);
  background-color: var(--base);
  -moz-border-radius: var(--_radius-s);
       border-radius: var(--_radius-s);
}
.numblock:last-of-type {
  margin-right: 0;
}

.numblock__number {
  display: block;
  font: normal 700 2.25rem/1 var(--_font-accent);
  font-variant-numeric: lining-nums;
  color: var(--t-bright);
}

.numblock__descr {
  font: normal 700 -moz-calc(var(--_size) * 0.938)/1.2 var(--_font-default);
  font: normal 700 calc(var(--_size) * 0.938)/1.2 var(--_font-default);
  color: var(--t-muted);
  margin-top: 0.375rem;
}
@media only screen and (min-width: 768px) {
  .numblock__descr {
    margin-top: 0;
    margin-left: 0.375rem;
  }
}

.achievements {
  flex-direction: column;
  align-items: stretch;
}

.achievements__item {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .achievements__item {
    width: 33.33333334%;
  }

  .achievements {
    flex-direction: row;
  }
}

.achievements__card {
  height: 100%;
  padding: 3rem;
  background-color: var(--base);
  border: 1px solid var(--stroke-elements);
  -moz-border-radius: var(--_radius-xl);
       border-radius: var(--_radius-xl);
  text-align: center;
}

.achievements__number {
  font: normal 700 6rem/1 var(--_font-accent);
  letter-spacing: -0.2rem;
  font-variant-numeric: lining-nums;
  background: var(--t-accent);
  background: -webkit-linear-gradient(15deg, var(--t-accent) 0%, var(--t-secondary) 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media only screen and (min-width: 1200px) {
  .achievements__number {
    font-size: 7rem;
  }
}
@media only screen and (min-width: 1600px) {
  .achievements__number {
    font-size: 8rem;
  }
}

.achievements__descr {
  font: normal 700 1.6rem/1.2 var(--_font-default);
  color: var(--t-bright);
  margin-top: 0.6rem;
}
@media only screen and (min-width: 1200px) {
  .achievements__descr {
    font-size: 1.8rem;
  }
}
@media only screen and (min-width: 1600px) {
  .achievements__descr {
    font-size: 2rem;
  }
}

.grid-item {
  padding: 0 1.5rem;
  margin-top: 3rem;
}
@media only screen and (min-width: 1400px) {
  .grid-item {
    padding: 0 2.5rem;
    margin-top: 5rem;
  }
}

.grid-item-s {
  padding: 0 1rem;
  margin-top: 2rem;
}