.form-container {
  position: relative;
}

.form {
  opacity: 1;
  -webkit-transition: opacity var(--_animspeed-slow) ease-in-out;
  -moz-transition: opacity var(--_animspeed-slow) ease-in-out;
  transition: opacity var(--_animspeed-slow) ease-in-out;
}
.form.is-hidden {
  opacity: 0;
}

.form__item {
  padding: 0 1.5rem;
  margin-bottom: 3rem;
}
.form__item:last-of-type {
  margin-bottom: 0;
}
@media only screen and (min-width: 1400px) {
  .form__item {
    padding: 0 2.5rem;
  }
}

.form__item-md-6 {
  flex: 0 0 auto;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .form__item-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}

form {
  position: relative;
  width: 100%;
}
form input, form textarea {
  position: relative;
  display: block;
  width: 100%;
  border: none;
  outline: none;
  margin: 0;
  padding: 1.4rem 0.4rem;
  background-color: transparent;
  border-bottom: 2px solid var(--stroke-elements);
  font: normal 700 2rem/1.4 var(--_font-default);
  color: var(--t-bright);
}
form input:focus, form textarea:focus {
  border-bottom: 2px solid var(--accent);
}
form textarea {
  height: 16rem;
  resize: none;
}
form ::-webkit-input-placeholder {
  color: var(--t-placeholder);
}
form :-moz-placeholder {
  color: var(--t-placeholder);
}
form ::-moz-placeholder {
  color: var(--t-placeholder);
}
form :-ms-input-placeholder {
  color: var(--t-placeholder);
}
form input:focus:required:invalid,
form textarea:focus:required:invalid {
  color: var(--t-default);
}
form input:required:valid,
form textarea:required:valid {
  color: var(--t-default);
}

.form__reply {
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity var(--_animspeed-slow) ease-in-out;
  -moz-transition: opacity var(--_animspeed-slow) ease-in-out;
  transition: opacity var(--_animspeed-slow) ease-in-out;
}
.form__reply.centered {
  position: absolute;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
     -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  max-width: 300px;
}
.form__reply.is-visible {
  opacity: 1;
}

.reply__icon {
  display: block;
  width: -moz-calc(var(--_size) * 2.75);
  width: calc(var(--_size) * 2.75);
  height: -moz-calc(var(--_size) * 2.75);
  height: calc(var(--_size) * 2.75);
  color: var(--accent);
  margin: 0 auto;
}

.reply__title {
  font: normal 700 -moz-calc(var(--_size) * 1.5)/1 var(--_font-accent);
  font: normal 700 calc(var(--_size) * 1.5)/1 var(--_font-accent);
  color: var(--t-bright);
  margin-bottom: 0.375rem;
  margin-top: 1rem;
}

.reply__text {
  display: block;
  font: normal 400 -moz-calc(var(--_size) * 1.125)/1.4 var(--_font-default);
  font: normal 400 calc(var(--_size) * 1.125)/1.4 var(--_font-default);
  color: var(--t-medium);
}

.socials-cards {
  padding: 0 0.5rem;
}
@media only screen and (min-width: 1400px) {
  .socials-cards {
    padding: 0 1.5rem;
  }
}

.socials-cards__item {
  width: 50%;
}
@media only screen and (min-width: 768px) {
  .socials-cards__item {
    width: 33.33333334%;
  }
}
@media only screen and (min-width: 1200px) {
  .socials-cards__item {
    width: 20%;
  }
}

.socials-cards__card {
  position: relative;
  width: 100%;
  padding: 3rem;
  background-color: var(--base);
  border: 1px solid var(--stroke-elements);
  -moz-border-radius: var(--_radius-xl);
       border-radius: var(--_radius-xl);
  text-align: center;
  -webkit-transform: scale3d(1, 1, 1);
     -moz-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  will-change: transform;
  -webkit-transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-transform 0.3s var(--_animbezier);
  transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-transform 0.3s var(--_animbezier);
  -moz-transition: transform 0.3s var(--_animbezier), border 0.3s ease-in-out, background-color 0.3s ease-in-out, -moz-transform 0.3s var(--_animbezier);
  transition: transform 0.3s var(--_animbezier), border 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: transform 0.3s var(--_animbezier), border 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-transform 0.3s var(--_animbezier), -moz-transform 0.3s var(--_animbezier);
}
.socials-cards__card svg {
  display: block;
  width: 6rem;
  height: 6rem;
  line-height: 1;
  stroke: var(--t-placeholder);
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  margin: 0 auto;
}
 .socials-cards__card:hover {
  -webkit-transform: scale3d(1.05, 1.05, 1.05);
     -moz-transform: scale3d(1.05, 1.05, 1.05);
          transform: scale3d(1.05, 1.05, 1.05);
  border: 1px solid var(--stroke-controls);
}
 .socials-cards__card:hover svg {
  stroke: var(--t-bright);
}
@media only screen and (min-width: 1600px) {
  .socials-cards__card {
    width: 7rem;
    height: 7rem;
  }
}

.socials-cards__link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.socials-square__link {
  width: 4.4rem;
  height: 4.4rem;
  color: var(--t-bright);
}
.socials-square__link::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -moz-border-radius: 2rem;
       border-radius: 2rem;
  border: 1px solid var(--stroke-controls);
  background-color: var(--base-tint);
  -webkit-transform: scale3d(1, 1, 1);
     -moz-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  will-change: transform;
  -webkit-transition: -webkit-transform 0.3s var(--_animbezier);
  transition: -webkit-transform 0.3s var(--_animbezier);
  -moz-transition: transform 0.3s var(--_animbezier), -moz-transform 0.3s var(--_animbezier);
  transition: transform 0.3s var(--_animbezier);
  transition: transform 0.3s var(--_animbezier), -webkit-transform 0.3s var(--_animbezier), -moz-transform 0.3s var(--_animbezier);
}
.socials-square__link i {
  display: block;
  position: relative;
  line-height: 4.4rem;
  font-size: 1.8rem;
  color: var(--t-bright);
  overflow: hidden;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
@media only screen and (min-width: 1200px) {
  .socials-square__link i {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0 0 var(--t-bright), 0 4.4rem var(--t-bright);
  }
   .socials-square__link:hover::before {
    -webkit-transform: scale3d(1.08, 1.08, 1.08);
       -moz-transform: scale3d(1.08, 1.08, 1.08);
            transform: scale3d(1.08, 1.08, 1.08);
  }
   .socials-square__link:hover i {
    text-shadow: 0 -4.4rem var(--t-bright), 0 0 var(--t-bright);
  }
}
@media only screen and (min-width: 1400px) {
  .socials-square__link {
    width: 5rem;
    height: 5rem;
  }
  .socials-square__link::before {
    -moz-border-radius: 2.2rem;
         border-radius: 2.2rem;
  }
  .socials-square__link i {
    line-height: 5rem;
    font-size: 1.8rem;
    text-shadow: 0 0 var(--t-bright), 0 5rem var(--t-bright);
  }
   .socials-square__link:hover i {
    text-shadow: 0 -5rem var(--t-bright), 0 0 var(--t-bright);
  }
}

.teaser {
  padding-top: 4rem;
  padding-bottom: 4.3rem;
}
@media only screen and (min-width: 768px) {
  .teaser {
    padding-top: 4.7rem;
    padding-bottom: 5.2rem;
  }
}
@media only screen and (min-width: 1600px) {
  .teaser {
    padding-top: 5.2rem;
    padding-bottom: 5.7rem;
  }
}

.teaser__text {
  font: normal 700 2.6rem/1.2 var(--_font-default);
  font-variant-numeric: lining-nums;
  background: var(--t-accent);
  background: -webkit-linear-gradient(15deg, var(--t-accent) 0%, var(--t-secondary) 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media only screen and (min-width: 768px) {
  .teaser__text {
    font-size: 3rem;
    max-width: 62rem;
  }
}
@media only screen and (min-width: 1400px) {
  .teaser__text {
    font-size: 3.8rem;
    max-width: 80rem;
  }
}
@media only screen and (min-width: 1600px) {
  .teaser__text {
    font-size: 4.4rem;
    max-width: 92rem;
  }
}

.contact-lines__item {
  padding-top: 4.3rem;
  padding-bottom: 4.2rem;
  border-top: 1px solid var(--stroke-elements);
}
@media only screen and (min-width: 768px) {
  .contact-lines__item {
    padding-top: 3.3rem;
    padding-bottom: 3.2rem;
  }
}
@media only screen and (min-width: 992px) {
  .contact-lines__item {
    padding-bottom: 10.3rem;
  }
}
@media only screen and (min-width: 1400px) {
  .contact-lines__item {
    padding-top: 3.3rem;
    padding-bottom: 14.4rem;
  }
}
@media only screen and (min-width: 1600px) {
  .contact-lines__item {
    padding-top: 3.3rem;
  }
}

.contact-lines__data {
  margin-bottom: 1.7rem;
  flex: 0 0 auto;
  width: 100%;
}
.contact-lines__data:last-of-type {
  margin-bottom: 0;
}
@media only screen and (min-width: 768px) {
  .contact-lines__data {
    margin-bottom: 0;
    flex: 0 0 auto;
    width: 33.33333333%;
  }
}

.contact-lines__title {
  font: normal 700 1.6rem/1.2 var(--_font-accent);
  font-variant-numeric: lining-nums;
  color: var(--t-bright);
}
.contact-lines__title a {
  color: var(--t-bright);
}

.contact-lines__text {
  font: normal 400 1.6rem/1.4 var(--_font-default);
  font-variant-numeric: lining-nums;
  color: var(--t-muted);
}
.contact-lines__text a {
  color: var(--t-muted);
}
