.main {
  position: relative;
  height: auto;
  padding: 6rem 0;
}
@media only screen and (min-width: 768px) {
  .main {
    padding: 7.5rem 0;
  }
}
@media only screen and (min-width: 992px) {
  .main {
    height: -moz-calc(100vh - 2rem);
    height: calc(100vh - 2rem);
    padding: 0;
  }
}
@media only screen and (min-width: 1400px) {
  .main {
    height: -moz-calc(100vh - 8rem);
    height: calc(100vh - 8rem);
  }
}

.headline {
  position: relative;
  padding: 0 1.5rem;
}
@media only screen and (min-width: 768px) {
  .headline {
    padding: 0 6rem;
  }
}
@media only screen and (min-width: 992px) {
  .headline {
    position: absolute;
    bottom: 4rem;
    left: 0;
    width: 100%;
    padding: 0 3rem;
  }
}
@media only screen and (min-width: 1200px) {
  .headline {
    padding: 0 6rem 0 3rem;
  }
}
@media only screen and (min-width: 1400px) {
  .headline {
    bottom: 2rem;
    padding: 0 8rem 0 5rem;
  }
}
@media only screen and (min-width: 1600px) {
  .headline {
    padding: 0 10rem 0 5rem;
  }
}

@media only screen and (min-width: 992px) {
  .headline__title {
    max-width: 560px;
  }
}
@media only screen and (min-width: 1200px) {
  .headline__title {
    max-width: 660px;
  }
}
@media only screen and (min-width: 1400px) {
  .headline__title {
    max-width: 760px;
  }
}
@media only screen and (min-width: 1600px) {
  .headline__title {
    max-width: 900px;
  }
}

.rotating-btn {
  position: relative;
  width: 100%;
  height: auto;
  padding: 0 1.5rem;
  margin-top: 5rem;
}
@media only screen and (min-width: 768px) {
  .rotating-btn {
    padding: 0 6rem;
    margin-top: 6rem;
  }
}
@media only screen and (min-width: 992px) {
  .rotating-btn {
    width: auto;
    padding: 0;
    margin-top: 0;
    position: absolute;
    right: 3rem;
    bottom: 4rem;
  }
}
@media only screen and (min-width: 1200px) {
  .rotating-btn {
    right: 6rem;
  }
}
@media only screen and (min-width: 1400px) {
  .rotating-btn {
    bottom: 2rem;
    right: 8rem;
  }
}
@media only screen and (min-width: 1600px) {
  .rotating-btn {
    right: 10rem;
  }
}

.rotating-btn__link {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 120px;
  height: 120px;
  color: var(--t-bright);
  font-size: 2.2rem;
}
.rotating-btn__link .text-svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
}

.rotating-btn__arrow {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: block;
  position: absolute;
  overflow: hidden;
  width: 2.2rem;
  height: 2.2rem;
  right: 50;
  bottom: 50;
}

.rotating-btn__link svg text {
  fill: var(--t-bright);
  font-family: var(--_font-default);
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  -webkit-transition: var(--_animspeed-medium) var(--_animbezier);
  -moz-transition: var(--_animspeed-medium) var(--_animbezier);
  transition: var(--_animspeed-medium) var(--_animbezier);
}
@media only screen and (min-width: 1600px) {
  .rotating-btn__link {
    width: 140px;
    height: 140px;
    font-size: 2.6rem;
  }
  .rotating-btn__link svg {
    width: 140px;
    height: 140px;
  }
}

.fade-in {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-in.active {
  opacity: 1;
  transform: translateY(0);
}