.loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  background-color: var(--base-tint);
  opacity: 1;
  visibility: visible;
  -webkit-transition: all var(--_animspeed-slow) ease-in-out;
  -moz-transition: all var(--_animspeed-slow) ease-in-out;
  transition: all var(--_animspeed-slow) ease-in-out;
}
.loader.loaded {
  background-color: var(--base);
  opacity: 0;
  visibility: hidden;
}

.loader__content {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
     -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 40px;
  height: 60px;
  -webkit-transition: opacity var(--_animspeed-medium) ease-in-out;
  -moz-transition: opacity var(--_animspeed-medium) ease-in-out;
  transition: opacity var(--_animspeed-medium) ease-in-out;
  opacity: 1;
}
.loader__content.fade-out {
  opacity: 0;
}

.loader__box {
  width: 40px;
  height: 40px;
  background: var(--accent);
  background: -moz-linear-gradient(315deg, var(--accent) 0%, var(--secondary) 100%);
  background: linear-gradient(135deg, var(--accent) 0%, var(--secondary) 100%);
  -webkit-animation: jump 0.5s linear infinite;
     -moz-animation: jump 0.5s linear infinite;
          animation: jump 0.5s linear infinite;
  -moz-border-radius: 10px;
       border-radius: 10px;
}

@-webkit-keyframes jump {
  17% {
    border-bottom-right-radius: 10px;
  }
  25% {
    -webkit-transform: translateY(9px) rotate(22.5deg);
            transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    -webkit-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
            transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    -webkit-transform: translateY(9px) rotate(67.5deg);
            transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(90deg);
            transform: translateY(0) rotate(90deg);
  }
}

@-moz-keyframes jump {
  17% {
    -moz-border-radius-bottomright: 10px;
         border-bottom-right-radius: 10px;
  }
  25% {
    -moz-transform: translateY(9px) rotate(22.5deg);
         transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    -moz-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
         transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    -moz-border-radius-bottomright: 40px;
         border-bottom-right-radius: 40px;
  }
  75% {
    -moz-transform: translateY(9px) rotate(67.5deg);
         transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    -moz-transform: translateY(0) rotate(90deg);
         transform: translateY(0) rotate(90deg);
  }
}

@keyframes jump {
  17% {
    -moz-border-radius-bottomright: 10px;
         border-bottom-right-radius: 10px;
  }
  25% {
    -webkit-transform: translateY(9px) rotate(22.5deg);
       -moz-transform: translateY(9px) rotate(22.5deg);
            transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    -webkit-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
       -moz-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
            transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    -moz-border-radius-bottomright: 40px;
         border-bottom-right-radius: 40px;
  }
  75% {
    -webkit-transform: translateY(9px) rotate(67.5deg);
       -moz-transform: translateY(9px) rotate(67.5deg);
            transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(90deg);
       -moz-transform: translateY(0) rotate(90deg);
            transform: translateY(0) rotate(90deg);
  }
}
.loader__shadow {
  width: 40px;
  height: 5px;
  background-color: var(--base-shade);
  position: absolute;
  top: 49px;
  left: 0;
  -moz-border-radius: 50%;
       border-radius: 50%;
  -webkit-animation: shadow 0.5s linear infinite;
     -moz-animation: shadow 0.5s linear infinite;
          animation: shadow 0.5s linear infinite;
}

@-webkit-keyframes shadow {
  50% {
    -webkit-transform: scale(1.2, 1);
            transform: scale(1.2, 1);
  }
}

@-moz-keyframes shadow {
  50% {
    -moz-transform: scale(1.2, 1);
         transform: scale(1.2, 1);
  }
}

@keyframes shadow {
  50% {
    -webkit-transform: scale(1.2, 1);
       -moz-transform: scale(1.2, 1);
            transform: scale(1.2, 1);
  }
}
