.resume-lines__item {
  padding: 4.8rem 0 4.3rem 0;
  border-bottom: 1px solid var(--stroke-elements);
}
.resume-lines__item:first-of-type {
  border-top: 1px solid var(--stroke-elements);
}

.resume-lines__item-block-s {
  flex: 0 0 auto;
  width: 16.66666667%;
}
.resume-lines__item-block-m {
  flex: 0 0 auto;
  width: 41.66666667%;
}

@media only screen and (max-width: 767px) {
  .resume-lines__item-block-m,
  .resume-lines__item-block-s {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .resume-lines__item {
    padding: 4.4rem 0 4.3rem 0;
  }

  .resume-lines__item-block-s {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .resume-lines__item-block-m {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
}
@media only screen and (min-width: 1400px) {
  .resume-lines__item {
    padding: 4.4rem 0 4.3rem 0;
  }
  
  .resume-lines__item-block-s {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .resume-lines__item-block-m {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
}
@media only screen and (min-width: 1600px) {
  .resume-lines__item {
    padding: 4.4rem 0 4rem 0;
  }
  .resume-lines__item-block-s {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .resume-lines__item-block-m {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
}

.resume-lines__date {
  display: block;
  font: normal 400 1.5rem/1 var(--_font-default);
  font-variant-numeric: lining-nums;
  color: var(--t-medium);
  margin-bottom: 1.8rem;
}
@media only screen and (min-width: 768px) {
  .resume-lines__date {
    margin-bottom: 0;
    margin-top: 0.4rem;
  }
}

.resume-lines__title,
.resume-lines__source {
  padding-right: 3rem;
}
@media only screen and (min-width: 1400px) {
  .resume-lines__title,
  .resume-lines__source {
    padding-right: 5rem;
  }
}

.resume-lines__source {
  font: normal 400 1.5rem/1.4 var(--_font-default);
  color: var(--t-medium);
  margin-top: 0.3rem;
}
.resume-lines__source a {
  font-weight: 700;
  color: var(--t-bright);
}

.resume-lines__descr {
  color: var(--t-medium);
  margin-top: 2rem;
}
@media only screen and (min-width: 768px) {
  .resume-lines__descr {
    margin-top: 0;
  }
}

.tools-cards {
  padding: 0 0.5rem;
}
@media only screen and (min-width: 1400px) {
  .tools-cards {
    padding: 0 1.5rem;
  }
}

.tools-cards__item {
  width: 50%;
}
@media only screen and (min-width: 768px) {
  .tools-cards__item {
    width: 33.33333334%;
  }
}
@media only screen and (min-width: 1200px) {
  .tools-cards__item {
    width: 20%;
  }
}

.tools-cards__card {
  position: relative;
  width: 100%;
  padding: 3rem;
  background-color: var(--base);
  border: 1px solid var(--stroke-elements);
  -moz-border-radius: var(--_radius-xl);
       border-radius: var(--_radius-xl);
  text-align: center;
}

.tools-cards__icon {
  width: auto;
  height: 60px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .tools-cards__icon {
    height: 90px;
  }
}
@media only screen and (min-width: 1200px) {
  .tools-cards__icon {
    height: 6rem;
  }
}
@media only screen and (min-width: 1600px) {
  .tools-cards__icon {
    height: 7rem;
  }
}

.tools-cards__caption {
  line-height: 1;
  margin-top: 1.5rem;
}

.tools-card {
  padding: 3rem;
  background-color: var(--base);
  border: 1px solid var(--stroke-elements);
  -moz-border-radius: var(--_radius-xl);
       border-radius: var(--_radius-xl);
  overflow: hidden;
}

.tools-card__icon {
  width: auto;
  height: 60px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .tools-card__icon {
    height: 90px;
  }
}

.tools-card__caption {
  line-height: 1;
  margin-top: 1.5rem;
}